<!DOCTYPE html>
<html>

<head>
<title>CARES: Context-Aware Realistic Epidemic Simulator</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ static_url('style.css') }}">
</head>



<body>
	<h2>CARES: Context-Aware Realistic Epidemic Simulator</h2>
	
	
	
	<form method="get" action="/results">
		<input type="submit" value="Mostra i risultati">
	</form>
	
	
	<form method="post" action="/">
		<p class="error"> {{ error }}</p>
		<table>	  
		  <tr>
			<td >
			  <p>  <b>Time Slot Length</b> <br> 
				   <i>The length in minutes of each time slot; must be a divisor or a multiple of 60.</i>		
			  </p>	
			  <select name="time_slot">
		        {% for slot in timeSlots %}
			    	<option value="{{slot}}">{{slot}}</option>
		        {% end %}
			  </select>
			</td>
			<td >	
  			  <p>  <b>Group Size</b> <br> 
  				   <i>The maximum number of individuals in a group visting the park.</i>		
  			  </p>	
  			  <input type="text" name="group_size" value="{{groupSize}}">
			</td>
			<td >	
  			  <p>  <b>Minimum Visit Time</b> <br> 
  				   <i>The minimum time an individual will spend inside the park. </i>		
  			  </p>	
  			  <input type="text" name="minVT" value="{{minVT}}">
			</td>
			<td >	
  			  <p>  <b>Mean Visit Time</b> <br> 
  				   <i>The average time an individual will spend inside the park. </i>		
  			  </p>	
  			  <input type="text" name="meanVT" value="{{meanVT}}">
			</td>
		  </tr>
		  <tr>
			<td>
    		  <p>  <b>Day</b> <br> 
    			   <i>The day of the week</i>		
    		  </p>	
			  <select name="day">
  		        {% for k,v in days.items() %}
  			    	<option value="{{k}}">{{v}}</option>
  		        {% end %}
			  </select>
			</td>
			<td> 
    		  <p>  <b>Peak</b> <br> 
    			   <i>The weekly peak popularity of the park</i>		
    		  </p>	
    		  <input type="text" name="peak" value="{{peakSize}}">
			</td>
			<td> 
    		  <p>  <b>Social Distancing</b> <br> 
    			   <i>The imposed physical distance between individuals of different groups</i>		
    		  </p>	
    		  <input type="text" name="dist" value="{{socialDist}}">
			</td>
          </tr>
		<table>
			
		<input type="submit" value="Esegui una simulazione">
	</form>
	
</body>
	
	
	
	
		
</html>
		
