<!DOCTYPE html>
<html>

<head>
<title>CARES: Context-Aware Realistic Epidemic Simulator</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ static_url('style.css') }}">
</head>



<body>
	<h2>CARES: Context-Aware Realistic Epidemic Simulator</h2>
	
	<form method="get" action="/">
		<input type="submit" value="Back">
	</form>
	
	<table>	  
	  <tr>
		<td >
			<img src="{{ static_url('population_per_hour.png') }}" alt="Population per hour"> 
		</td>  
	  </tr>  
	  <tr>
		<td >	
			<img src="{{ static_url('contacts.png') }}" alt="Contacts"> 
		</td>
	  </tr>
	  <tr>
		<td >	
			<img src="{{ static_url('infected.png') }}" alt="Infected"> 
		</td>
	  </tr>
	  <tr>
		<td >	
			<img src="{{ static_url('infections_heatmap.png') }}" alt="Infections heatmap"> 
		</td>
	  </tr>
	<table>
</body>
	
		
</html>
		
