<!DOCTYPE html>
<html>

<head>
<title>CARES: Context-Aware Realistic Epidemic Simulator</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ static_url('style.css') }}">
</head>



<body onload="pollProcess()"  >
	<h2>CARES: Context-Aware Realistic Epidemic Simulator</h2>

	<div id="resDiv" class="animate-bottom">
		<p> Hai avviato una simulazione con i seguenti parametri: <br>
			<ul>
				<li> Time Slot Length: {{ time_slot }} </li>
				<li> Group Size: {{ group_size }} </li>
				<li> Day: {{ day }} </li>
				<li> Peak: {{ peak }} </li>
				<li> Social Distance: {{ dist }} </li>
				<li> Minimum Visit Time: {{ minVT }} </li>
				<li> Mean Visit Time: {{ meanVT }} </li>
			</ul>
		</p>
	
		<form method="get" action="/results">
			<input type="submit" value="Mostra i risultati">
		</form>
	</div>
	
	<div id="loader"></div>
	
	<script>
		
	var procStat = 404
	const POLL_INTERVAL = 5000;
	const MAX_ATTEMPTS = 50;	
		
	const poll = async (fn, interval, maxAttempts ) => {
		  let attempts = 0;

		  const executePoll = async (resolve, reject) => {
		    const result = await fn();
		    attempts++;
			console.log(procStat);

		    if (procStat == 200) {
		      return resolve(procStat);
		    } else if (maxAttempts && attempts === maxAttempts) {
		      return reject(new Error('Exceeded max attempts'));
		    } else {
		      setTimeout(executePoll, interval, resolve, reject);
		    }
		  };

		  return new Promise(executePoll);
		};
		
		
	function checkProc() {
	  var xhttp = new XMLHttpRequest();
	  xhttp.onreadystatechange = function() {
	  	if (this.status == 200 ) {
			procStat = 200;
		}
	  };
	  xhttp.open("GET", "/proc", true);
	  xhttp.send();
	}
	
	const pollProcess = poll ( checkProc, POLL_INTERVAL, MAX_ATTEMPTS )
							     .then( result =>  { document.getElementById("loader").style.display = "none";
									  				 document.getElementById("resDiv").style.display = "block";
								  				   	    })
		      				     .catch( err => console.error(err) )

	  
	</script>

	
</body>
	
		
</html>